table{
	width : 100%
}


.center{
	text-align: center;
}

.right{
	text-align: right
}


#table-2 td{
 height:20px
}

#table-3 img{
height :100px
}

#tr1 {
	background-color : green;
}

#tr3{
	background-color : blue;
}